.toggleDiv{
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 1px;
    margin-left: 20px;
    transition-duration: 1s;
    border-radius: 34px;
    width: 40px;
    height: 21px;
}

.themeButton{
    position: relative;
    cursor: pointer;
    top: -12px;
    background-color: transparent;
    transition-duration: 0.7s;
    font-size: 1.7em;
    border: none;
}