.postContainer {
    text-align: justify;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post {
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px;
    width: 350px;
    &:hover {
        cursor: pointer;
    }
}

.postTitle {
    text-align: center;
    margin: 0px;
}